datacontainer/objects/
datacontainer/objects1/
datacontainer/objects2/
datacontainer/objects3/
datacontainer/objects4/
datacontainer/objects5/
datacontainer/objects6/
datacontainer/objects7/
datacontainer/objects8/
APIGateway/app/dynostore/datamanagement/reliability/__pycache__/
APIGateway/app/dynostore/controllers/__pycache__/
*.pyc
site/
.dynostore.txt
APIGateway/app/db.sqlite
APIGateway/app/.temp
APIGateway/app/instance/db.sqlite
APIGateway/app/salida
